body {
	min-width: 550px ; 
	font-family: Arial ; 
}
h3 {
	color: grey  ; 
}
body .container{
	max-width: 550px ;
	margin : auto ; 
}
hr{
	border-top: dashed 3px ; 
	color: #0099ff ; 
}
.well {
  text-align: center ; 
}
.sample-radio-container{
	display: inline-flex
}
.loading {
	text-align: center ; 
}
.results {
	text-align: center ;  
}
.self {
	float: left ; 
}
.badtraits {
	color: red ; 
}
.others {
	float: right ; 
}
.self-badtraits {
	color: red ; 
}
.buttons-container{
	display: inline-flex ; 
}